@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    overflow: hidden;
     
}

img {
    width: 100%;
}

video {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

li  {
    list-style: none;
}


/* header css  */
header {
    width: 100%;
    height: 100vh;
    background: #00122e;
    padding: 20px 0;
    position: relative;
}
.nav {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   width: 120px;
   background-color: #182842;
   padding: 10px 15px 10px 15px;
   
}


.nav .logo {
}

.nav .logo img  {
    width: 70px;
    object-fit: cover ;
   
}

.nav .links {
    margin-top: 100px;
}

.nav .links img{
    cursor: pointer;
    width: 50px;
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 10px ;
    opacity: 0.5;
    transition: opacity .25s linear;
}

.links img:hover {
    opacity: 1;
    background-color: #4d6181;
    border-radius: 14px;
}

.active {
    background-color: #4d6181;
    border-radius: 14px;
      opacity: 1;
}










/* container */

.container {
  margin-left: 124px; 
  padding: 0 2.4%;
}




.container .top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
     
}


.container .top-bar img {
   width: 35px;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}


.container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     margin-top: 15px;
}


.container .row .col-1 {
     flex-basis: 60%;
}


.container .row .col-1 .host{
    border-radius: 10px;
        border: 8px solid #ffffff;
}

.row .controls {
     display: flex;
      justify-content: center;
      margin-top: 10px;
}

.row .controls .icon    {
    cursor: pointer;
    width: 30px;
    margin: 0 5px;
    transform: transform .2s ease-in-out;
}
 
.row .controls .icon:hover {
    transform: scale(1.8);
}
.container .row .col-2 {
    flex-basis: 40%;
}


 .col-2 .joined {
   background-color: #182842;
   padding: 30px 40px 50px;
   border-radius: 10px;
   color: #ffffff;
   text-transform: capitalize;
   text-align: center;
}

.col-2 .joined .peoples {
    display: grid;
    grid-template-columns: repeat(3, auto );
    grid-gap: 10px;
}

.col-2 .peoples .people     {
    width: 100%;
    object-fit: cover;
    clip-path: circle();

}

.col-2 .invite {
    width: 100%;
    background-color: #182842;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px 0;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}
.col-2 .invite-people {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.col-2 .invite .invite-people .people {
 
    width: 30px; 
}















/* responsive css  */

@media  (max-width: 768px) {
    .nav {
        
       width: 100px;
       padding: 0;
    }


    .container .row .col-1 {
        flex-basis: 100%;
    }

    .container .row .col-2 {
        margin-top: 10px;
        flex-basis: 100%;
    }

    .col-2 .joined {
       
        padding: 10px 36px 20px;
        
    }
    .col-2 .joined .peoples {
        grid-template-columns: repeat(6, auto );
    }

    .col-2 .joined h2, .invite h2 {
        font-size: 14px;
    }

}


@media (max-width: 425px) {
    .nav {
        width: 60px;
        padding: 0;
    }

    .nav .logo img {
        width: 41px;
        object-fit: cover;
    }

    .container {
        margin-left: 53px;
        
    }


    .col-2 .joined {
       
        padding: 10px 36px 20px;
        
    }
}
